@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --warmSand: theme(colors.warmSand);
  --onyxBlack: theme(colors.onyxBlack);
}

body {
  background-color: var(--warmSand);
  color: var(--onyxBlack);
  font-family: Arial, Helvetica, sans-serif;
}
